`Compress::check_compressed_name()` rejects pointer-to-pointer name representation

Hi,

`Compress::check_compressed_name()` does not permit a name pointer to point to another name pointer, here:

https://github.com/jedisct1/dnssector/blob/66977aa5f11674a63674973ec7354adb5df97837/src/compress.rs#L61-L63

However, this is explicitly allowed by RFC 1035, section 4.1.4:

> […] **an entire domain name** or a list of labels at the end of a domain name **is replaced with a pointer to a prior occurance of the same name.**

So, a name can be replaced with a pointer to another instance of that name. However, the target name of that pointer can itself be a pointer because:

> The compression scheme allows **a domain name** in a message **to be represented as** either:
>
>   - a sequence of labels ending in a zero octet
>
>   - **a pointer**
>
>   - a sequence of labels ending with a pointer

I was able to produce the following DNS packet using the `libknot` library which DNSSector was unable to parse, due to the use of a pointer-to-pointer representation for one of the owner names:

```
00000000	00 00 80 00 00 01 00 01 00 02 00 00 03 77 77 77
00000010	07 65 78 61 6d 70 6c 65 03 63 6f 6d 00 00 01 00
00000020	01 c0 0c 00 01 00 01 00 00 1c 20 00 04 c2 0c 00
00000030	01 c0 10 00 02 00 01 00 00 1c 20 00 06 03 6e 73
00000040	31 c0 10 c0 31 00 02 00 01 00 00 1c 20 00 06 03
00000050	6e 73 32 c0 10
```

Pointers to pointers are now allowed.

Thanks for pointing (!) this out, Robert!

